



::-webkit-scrollbar {
  width: 5px;

}
::-webkit-scrollbar-button {
  background: #082440
}
::-webkit-scrollbar-track-piece {
  background:#082440
}
::-webkit-scrollbar-thumb {  background:#1776d5}



.sidebar-container {
  overflow-y: auto;  /* Enable scrolling */
  scrollbar-width: none; /* Hide scrollbar for Firefox */
}


ps-sidebar-container-test-id::-webkit-scrollbar {
  display: none; /* Hide scrollbar for Chrome, Safari, and Edge */
}

.sidebar-container::-webkit-scrollbar {
  display: none; /* Hide scrollbar for Chrome, Safari, and Edge */
}